<!DOCTYPE html>
<!------------------------------------------------------------------
	500.html
	500 error page for the TRT Watersystem Website
-------------------------------------------------------------------->

{% extends "errors/errorheader.html" %}

{% block title %}Website Error{% endblock %}

{% block content %}
   <!-- Start of main page body content-->
    <div id="feedback" class="container intro pt-5">
        <div class="row pt-4">
            <h2 class="col-12 text-center text-primary">Oops something went wrong</h2>
        </div>        
    </div>
{% endblock %}